body {
  font-size: 14pt;
}

#submitButton {
  text-align: center;
  margin: 0 auto;
  display: none;
}

.preload {
  display: none;
}

.preload_masks {
  display: none;
}

.instructions {
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  margin: 0 auto;
  display: none;
  text-align: justify;
}

#startingInstructions {
  display: block;
}

#getConsent {
  display: block;
}

#Instructions2{
  display:block;
}

#FinalInstructions{
  display:block;
}

#getUnits{
  display: block;
}

.buttonDiv {
  width: 100px;
  text-align: center;
  border: 4px outset black;
  background:cadetblue;
  padding: 5px;
  margin: 0 auto;
  color: white;
  display: none;
}

.buttonDivPg1{
  width: 100px;
  text-align: center;
  border: 4px outset black;
  background:cadetblue;
  padding: 5px;
  margin: 0 auto;
  color: white;
  display: none;
}

.buttonDivPg2{
  width: 100px;
  text-align: center;
  border: 4px outset black;
  background:cadetblue;
  padding: 5px;
  margin: 0 auto;
  color: white;
  display: none;
}

.buttonDivPg3{
  width: 100px;
  text-align: center;
  border: 4px outset black;
  background:cadetblue;
  padding: 5px;
  margin: 0 auto;
  color: white;
  display: none;
}

.buttonDivPg4{
  width: 100px;
  text-align: center;
  border: 4px outset black;
  background:cadetblue;
  padding: 5px;
  margin: 0 auto;
  color: white;
  display: none;
}

.metersButtonDiv{
  width: 100px;
  text-align: center;
  border: 1px outset black;
  background:azure;
  padding: 5px;
  margin: 0 auto;
  color: white;
  display: none;
}

.feetButtonDiv{
  width: 100px;
  text-align: center;
  border: 1px outset black;
  background:azure;
  padding: 5px;
  margin: 0 auto;
  color: white;
  display: none;
  float: ;
}

.startPracticeButtonDiv{
  width: 100px;
  text-align: center;
  border: 4px outset black;
  background:cadetblue;
  padding: 5px;
  margin: 0 auto;
  color: white;
  display: none;
}

.startTrialsButtonDiv{
  width: 100px;
  text-align: center;
  border: 4px outset black;
  background:cadetblue;
  padding: 5px;
  margin: 0 auto;
  color: white;
  display: none; 
}


#startConsentButton {
  display: block;
}

#Instructions2Button {
  display: block;
}

#FinalInstructionsButton{
  display: block;
}

#metersSelectedButton{
  display: block;
}

#feetSelectedButton{
  display: block;
}


#startTrialsButton{
  display: block;
}


.trialDiv {
  border: 2px solid gray;
  padding: 20px;
  width: 200px;
  margin:0 auto;
  display: none;
}

#experimentBox {
  border: 2px solid black;
  width: 900px;
  height: 600px;
  margin:0 auto;
  display: none;
  background-color: gray;
  position: relative;
}


.fixationDiv{ 
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  width: 50%;
}

.sceneDiv{
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  width: 50%;

}

.maskDiv{ 
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  width: 50%;

}

.responseDiv{ 
  display: none;
  position: absolute;
  top: 10%;
  left: 45%;
  margin-top: -50px;
  margin-left: -50px;
  width: 200;
  height: 200;

}

.startTrialsDiv {
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
  margin: 0 auto;
  display: none;
  text-align: justify;
}
