<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    In the following experiment, you will be asked to look at pictures of everyday scenes and make distance judgments of objects in them.
	    </p>
	    
	    <p>
	    	For each trial, you will see an image with a red, black, and white circle (the target) displayed over an object in the scene, like in the example below. You will imagine yourself standing in the scene and make a judgment of how far away the object directly underneath the target is from your toes. For example, in the image below, you would be judging how far away the brown stripe is from you, as if you were physically standing in the scene.
        </p>

        <p>
        	The target will only appear in the vertical center of the image, directly in your line of view if you were standing in the middle of the scene.
        </p>

        <img src="/static/stimuli/example/003494/003494-target.png" />

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
